# Workspace
Catmash.code-workspace

# EntityModel
EntityModel/obj
EntityModel/bin
EntityModel/.vscode

# DatabaseSeed
DatabaseSeed/.vscode/
DatabaseSeed/CatmashDatabase.db

# DataRepository
DataRepository/obj/
DataRepository/bin/
DataRepository/.vscode/