<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["Title"]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="~/css/layout.css" asp-append-version="true"/>
    </head>
    <body>
        <header>
            <a class="catmashHome" href="https://awesomecats.azurewebsites.net"><h1>Catmash</h1></a>
        </header>
        @RenderBody()
    </body>
</html>