@{
    ViewData["Title"] = "Vote";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/vote.css" asp-append-version="true"/>
    <script src="~/js/script.js"></script>
</head>

<p id="first">Time spent with cats is never wasted &#128516</p>
<p id="second">Who's cuter?</p>

<div id="dual">
    <div id="firstImageCountainer" class="cats"></div>

    <p id="middle">OR</p>

    <div id="secondImageCountainer" class="cats"></div>
</div>